a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

a:hover{
    color: inherit !important; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.img {
    width: 100%;
}